@use "./mixins.scss" as mix;
@use "colors";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
	height: 100dvh;
	overflow-y: hidden;

	.bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;

		background-color: colors.$bg-color;
		opacity: 1;
		background-image: radial-gradient(colors.$accent-color 1.9px, transparent 1.9px),
			radial-gradient(colors.$accent-color 1.9px, colors.$bg-color 1.9px);
		background-size: 76px 76px;
		background-position: 0 0, 38px 38px;
	}
}

@mixin heading-style {
	font: {
		family: Bangers;
		weight: 400;
	}
	text-align: center;
	color: colors.$text-color;
	margin-block-start: 0;
	margin-block-end: 0.3em;
	z-index: 5;
}

h1 {
	@include heading-style;
	font-size: 3em;
}
h2 {
	@include heading-style;
	font-size: 2.1em;
	margin-block-start: 0.3em;
}
.styledButton {
	@include mix.base-btn(colors.$accent-color-2);
}
.styledButton.wide {
	min-width: 200px;
}

input[type="text"] {
	border: 1px solid colors.$accent-color;
	border-radius: 3px;
	outline: none;
	padding: 5px;
	font-size: 1em;
	opacity: 0.8;

	&:focus {
		opacity: 1;
	}
}
