@mixin full-screen-flex {
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	top: 0;
	overflow: hidden;
}

@mixin flex-container {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	padding: 5px;
}

@function set-color($color) {
	@if (lightness($color) > 40) {
		@return #000;
	} @else {
		@return #fff;
	}
}

@mixin base-btn($bg-color) {
	padding: 8px 12px;
	margin: 5px;
	min-width: 100px;
	max-width: 200px;
	font-size: 1em;
	border: none;
	border-radius: 8px;
	background-color: $bg-color;
	color: set-color($bg-color);
	box-shadow: 0px 2px 1px 0 darken($color: $bg-color, $amount: 10%);

	&:has(svg) {
		padding: 5px 15px 0px 15px;
		font-size: large;
	}
	&.compact {
		min-width: 0;
		width: max-content;
	}
	&.wide {
		min-width: 200px;
	}
	&.fit {
		width: 100%;
		max-width: 250px;
		margin-left: 0;
		margin-right: 0;
	}

	&:hover {
		cursor: pointer;
		opacity: 0.9;
	}
	&:active {
		opacity: 1.5;
		transform: translateY(2px);
		box-shadow: none;
	}
	&:focus-visible {
		outline: none;
		box-shadow: 0 0 0 2px white, 0 0 0 4px $bg-color;
	}
	&:disabled {
		filter: grayscale(1);

		&:active {
			opacity: 0.9;
			transform: none;
			box-shadow: 0px 2px 1px 0 darken($color: $bg-color, $amount: 10%);
		}
		&:focus-visible {
			outline: none;
		}
	}
}
