@use "../mixins.scss" as mix;

.game-screen {
	@include mix.full-screen-flex;
	justify-content: center;

	.game-container {
		width: clamp(0px, 100%, 1920px);

		.panel:has(h2) {
			display: flex;
			flex-direction: column;
		}

		.panelBox {
			@include mix.flex-container;
			flex-grow: 1;
			height: 100%;
		}

		.panelBox.chat {
			justify-content: flex-end;
			padding: 0px 15px 10px 15px;

			.messages {
				width: 100%;
			}

			.controls {
				width: 100%;
				display: flex;

				input {
					flex-grow: 1;
					margin: 5px 0px;
				}
			}
		}
	}
}
