.home-screen {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		font: {
			family: Bangers;
			size: 3em;
			weight: 400;
		}
		margin-block-start: 0;
	}
}
