.playersContainer {
	flex-grow: 1;
	width: 100%;
	overflow-y: auto;

	div {
		display: flex;
		padding: 4px 10px;
		align-items: center;
		span {
			flex-grow: 1;
			display: flex;
			justify-content: flex-end;
		}
		svg {
			font-size: 2em;
			margin-right: 5px;
		}
	}
}
